@tailwind base;
@tailwind components;
@tailwind utilities;

.school {
  background-image: url('https://images.unsplash.com/photo-1503676260728-1c00da094a0b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=822&q=80');
  object-fit: cover;
  object-position: center;
}